*-backup
wepif.yml

*/stats
*/advancements
*/data/scoreboard.dat
*/playerdata

*.thanos
*session.lock
*.jar

/eula.txt
/desktop.ini
/.console_history
/banned-ips.json
/banned-players.json
/commands.yml
/permissions.yml
/version_history.json
/usercache.json
/whitelist.json
/ops.json
/help.yml
/start.bat

/versions
/libraries
/cache

/logs
/crash-reports